<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">CApproach 
            {% if user.is_authenticated %}
            ({{ user.email }})
            {% else %}
            (No user authenticated)
            {% endif %}
            </span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'contact_list' %}">List Approaches</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'statistics_list' %}">Summary Statistics</a>
            {% if user.is_authenticated %}
             <button class="me-1 py-2 btn btn-danger btn-sm" type="submit" onclick="location.href='{% url 'account_logout' %}'" name='mybtn2'>Logout</button>
            {% else %}
             <button class="me-1 py-2 btn btn-primary btn-sm" type="submit" onclick="location.href='{% url 'account_signup' %}'" name='mybtn2'>Signup</button>
             <button class="btn btn-primary btn-sm" type="submit" onclick="location.href='{% url 'account_login' %}'" name='mybtn2'>Login</button>
            {% endif %}
        </nav>
    </div>
</header>