<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Cold Approach Stats</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'contact_list' %}">Approaches</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'statistics_list' %}">Statistics</a>

        {% if user.is_authenticated %}
        <button class="me-1 py-2 btn btn-danger btn-sm" type="submit" onclick="location.href='{% url 'account_logout' %}'" name='mybtn2'>Logout</button>
        {% else %}
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'account_signup' %}">Signup</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'account_login' %}">Login</a>
        {% endif %} 

    </nav>
</header>