{% extends 'core/base.html' %}

{% block content %}

<main>

	<h2 class="display-6 text-center mb-4">Approaches</h2>
	
	<div class="table-responsive">
		<table class="table text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Date Approach</th>
					<th>Name</th>
					<th>Age</th>
					<th>Nationatlity</th>
					<th>Close</th>
					<th>Read / Update / Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in contact_list %}
				
					{% if contact.close == 'no' and contact.reply == 'no' and contact.date == 'no' and contact.lay == 'no' %}
					<tr class="table-inactive">
					{% elif contact.close == 'yes' and contact.reply == 'no' and contact.date == 'no' and contact.lay == 'no' %}
					<tr class="table-close">
					{% elif contact.close == 'yes' and contact.reply == 'yes' and contact.date == 'no' and contact.lay == 'no' %}
					<tr class="table-reply">
					{% elif contact.close == 'yes' and contact.reply == 'yes' and contact.date == 'yes' and contact.lay == 'no' %}
					<tr class="table-date">
					{% elif contact.close == 'yes' and contact.reply == 'yes' and contact.date == 'yes' and contact.lay == 'yes' %}
					<tr class="table-lay">
					{% else %}
					<tr>
					{% endif %}

					<td class="text-center" scope="row">{{ forloop.counter }}</td>
					<td>{{ contact.date_approach }}</td>
					<td>{{ contact.name }}</td>
					<td>{{ contact.age }}</td>
					<td>{{ contact.nationality }}</td>
					<td>{{ contact.close }}</td>
					<td>					
					<button type="button" class="contact-read bs-modal btn btn-sm btn-primary" data-form-url="{% url 'contact_read' contact.pk %}">
						<i class="bi-eye"></i>
					</button>
					<button type="button" class="contact-update bs-modal btn btn-sm btn-primary" data-form-url="{% url 'contact_update' contact.pk %}">
						<i class="bi-pencil"></i>
					</button>
					<button type="button" class="contact-delete bs-modal btn btn-sm btn-danger" data-form-url="{% url 'contact_delete' contact.pk %}">
						<i class="bi-trash"></i>
					</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</main>

{% endblock %}