{% extends 'core/base.html' %}

{% block content %}


<main>

	<h2 class="display-6 text-center mb-4">Approaches</h2>

	<div class="table-responsive">
		<table class="table text-center">
			<thead>
				<tr>
					<tr>
						<th>Date Approach</th>
						<th>Name</th>
						<th>Age</th>
						<th>Nationatlity</th>
						<th>Number Close</th>
						<th>Date</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</tr>
			</thead>
			<tbody>
				{% for contact in contact_list %}
				<tr>
					<td>{{ contact.date_approach }}</td>
					<td>{{ contact.name }}</td>
					<td>{{ contact.age }}</td>
					<td>{{ contact.nationality }}</td>
					<td>{{ contact.close }}</td>
					<td>{{ contact.date }}</td>
					<td><a href="{% url 'contact_update' contact.pk %}">Update</a></td>
					<td><a href="{% url 'contact_delete' contact.pk %}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</main>


{% endblock %}