{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">Contact details</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="">
        Title:
        {{ contact.name }}
    </div>
    <div class="">
        Author:
        {{ contact.age }}
    </div>

</div>

{% if user.is_authenticated %}
{% else %}
<h4 class="display-12 text-center mb-4 text-danger">
    <a href="{% url 'account_signup' %}">signup</a> or <a href="{% url 'account_login' %}">login</a> to start logging your own approaches.
</h4>
{% endif %}

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

