{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">Contact details</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="">
        Date approach:
        {{ contact.date_approach }}
    </div>
    <div class="">
        Time approach:
        {{ contact.time_approach }}
    </div>
    <div class="">
        Location:
        {{ contact.location }}
    </div>
    <div class="">
        Group Size:
        {{ contact.group_size }}
    </div>
    <div class="">
        Name:
        {{ contact.name }}
    </div>
    <div class="">
        Age:
        {{ contact.age }}
    </div>
    <div class="">
        Nationality:
        {{ contact.nationality }}
    </div>
    <div class="">
        Duration:
        {{ contact.duration }}
    </div>
    <div class="">
        Interaction:
        {{ contact.interaction }}
    </div>
    <div class="">
        Looks:
        {{ contact.looks }}
    </div>
    <div class="">
        Close:
        {{ contact.close }}
    </div>
    <div class="">
        Reply:
        {{ contact.reply }}
    </div>
    <div class="">
        Date:
        {{ contact.date }}
    </div>
    <div class="">
        Lay:
        {{ contact.lay }}
    </div>
    <div class="">
        Comments:
        {{ contact.comments }}
    </div>

</div>

{% if user.is_authenticated %}
{% else %}
<h4 class="display-12 text-center mb-4 text-danger">
    <a href="{% url 'account_signup' %}">signup</a> or <a href="{% url 'account_login' %}">login</a> to start logging your own approaches.
</h4>
{% endif %}

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

