<!DOCTYPE html>
<html>
<head>

</head>
<body>

<ul>
    
    <li><strong>date_approach</strong>: date of the approach</li>
    <li><strong>location</strong>: location of the approach</li>
    <li><strong>group size</strong>: with how many people was the girl?</li>
    <li><strong>name</strong>: name of the girl. If unknown, write 'unknown'</li>
    <li><strong>age</strong>: age of the girl. If unknown, write 'unknown'</li>
    <li><strong>nationality</strong>: nationality of the girl. If unknown, write 'unknown'</li>
    <li><strong>duration</strong>: duration of the approach</li>
    <li><strong>interaction</strong>: quality of the interaction</li>
    <li><strong>looks</strong>: looks of the girl of a scale of 1-10</li>
    <li><strong>close</strong>: did you get the number?</li>
    <li><strong>reply</strong>: did she reply on the initial text?</li>
    <li><strong>date</strong>: did you go on a date?</li>
    <li><strong>lay</strong>: did you sleep with the girl?</li>
    <li><strong>comments</strong>: room for notes</li>

</ul>

</body>
</html>